.btn {
  padding: 4px 4px 4px 30px;
  display: flex;
  gap: 30px;
  border-radius: 30px;
  background-color: transparent;
  min-height: 54px;
  align-items: center;
  letter-spacing: 0.28px;
  transition: background-color $trans-default;
  justify-content: space-between;
  width: fit-content;
  user-select: none;
  cursor: pointer;

  @include vp-1199 {
    font-size: 14px;
  }

  @include vp-767 {
    font-size: 12px;
    letter-spacing: 0.24px;
    min-height: 42px;
    padding: 4px 4px 4px 20px;
    gap: 20px;
  }

  &--light-bg {
    border: 1px solid $color-cerulean-blue;

    @include hover-focus {
      outline: none;

      & .btn__text {
        color: $color-default-white;
      }

      background-color: $color-cerulean-blue;

      & .btn__svg-wrapper {
        background-color: $color-default-white;

        & svg {
          stroke: $color-cerulean-blue;
          rotate: 45deg;
        }
      }
    }

    &:active {
      .btn__text {
        opacity: 0.7;
      }

      & .btn__svg-wrapper svg {
        opacity: 0.7;
      }
    }
  }

  &--blue-bg {
    border: 1px solid $color-default-white;

    @include hover-focus {
      outline: none;

      & .btn__text {
        color: $color-cerulean-blue;
      }

      background-color: $color-default-white;

      & .btn__svg-wrapper {
        background-color: $color-cerulean-blue;

        & svg {
          stroke: $color-default-white;
          rotate: 45deg;
        }
      }
    }

    &:active {
      .btn__text {
        opacity: 0.7;
      }

      & .btn__svg-wrapper svg {
        opacity: 0.7;
      }
    }
  }
}

.btn__text {
  transition: opacity $trans-default, color $trans-default;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.28px;
  flex-grow: 1;

  @include vp-767 {
    font-size: 12px;
    letter-spacing: 0.24px;
  }
}

.btn--light-bg .btn__text {
  color: $color-cerulean-blue;
}

.btn--blue-bg .btn__text {
  color: $color-default-white;
}

.btn__svg-wrapper {
  width: 46px;
  aspect-ratio: 1;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color $trans-default;

  @include vp-767 {
    width: 34px;
  }

  & svg {
    transition: stroke $trans-default, rotate $trans-default, opacity $trans-default;
  }
}

.btn--light-bg .btn__svg-wrapper {
  background-color: $color-cerulean-blue;

  & svg {
    stroke: $color-default-white;
  }
}

.btn--blue-bg .btn__svg-wrapper {
  background-color: $color-default-white;

  & svg {
    stroke: $color-cerulean-blue;
  }
}
