.feedback {
  background-color: $color-alabaster;
  padding: 120px 0 30px;

  @include vp-1199 {
    padding: 100px 0 30px;
  }

  @include vp-767 {
    padding: 67px 0 14px;
  }
}

.feedback .container {
  position: relative;
}

.feedback .btn {
  width: 100%;
}

.feedback__content {
  display: flex;
  flex-direction: column;
  max-width: 498px;
  padding: 83px 74px 49px;
  background-color: $color-cerulean-blue;
  border-radius: 16px;
  position: relative;
  z-index: 1;

  @include vp-1199 {
    max-width: 442px;
    padding: 60px 45px 56px;
  }

  @include vp-767 {
    max-width: 100%;
    padding: 52px 15px 50px;
  }
}

.feedback__title {
  font-size: 32px;
  font-weight: 400;
  line-height: 1.1;
  color: $color-default-white;
  margin: 0 0 26px;

  @include vp-1199 {
    font-size: 28px;
    line-height: 1;
    margin: 0 0 28px;
  }

  @include vp-767 {
    font-size: 18px;
    line-height: 1.2;
    margin: 0 0 17px;
  }
}

.feedback__desc {
  line-height: 1.6;
  opacity: 0.9;
  color: $color-alabaster;
  margin: 0 0 18px;

  @include vp-1199 {
    line-height: 1.25;
    margin: 0 0 32px;
  }

  @include vp-767 {
    font-size: 14px;
    line-height: 1.4;
    margin: 0 0 27px;
  }
}

.feedback__form-wrapper {
  & form {
    display: flex;
    flex-direction: column;
  }
}

.feedback__form-field {
  margin: 0 0 16px;

  @include vp-767 {
    margin: 0 0 21px;
  }

  &:last-of-type {
    margin: 0 0 40px;

    @include vp-767 {
      margin: 0 0 27px;
    }
  }

  & label {
    display: flex;
    flex-direction: column;
    gap: 8px;

    @include vp-767 {
      gap: 11px;
    }
  }

  &--text {
    & input,
    & textarea {
      width: 100%;
      background-color: transparent;
      border: 1px solid $color-default-white-20;
      border-radius: 8px;
      padding: 16px 25px;
      height: 50px;
    }

    & span,
    & p {
      color: $color-alabaster;
      opacity: 0.8;
      font-size: 14px;
      font-weight: 400;
      line-height: 1.3;
      margin: 0;

      @include vp-767 {
        font-size: 12px;
        line-height: 1.16;
      }
    }
  }

  &--textarea {
    & textarea {
      height: 98px;

      @include vp-767 {
        height: 94px;
      }
    }
  }

  &--checkbox {
    & span,
    & p {
      color: $color-alabaster;
      opacity: 0.8;
      font-size: 14px;
      font-weight: 400;
      line-height: 1.3;
      margin: 0;
    }

    & label {
      flex-direction: row;
      align-items: center;
      gap: 0;
      padding: 0 0 0 30px;
      position: relative;
      cursor: pointer;
      min-height: 20px;
    }

    & span {
      display: block;
      width: 20px;
      aspect-ratio: 1;
      border-radius: 2px;
      position: absolute;
      left: 0;
      top: 50%;
      translate: 0 -50%;
      background-color: transparent;
      border: 1px solid $color-default-white;
      opacity: 0.7;
      transition: background-color $trans-default, opacity $trans-default;
    }

    & svg {
      position: absolute;
      top: 50%;
      left: 50%;
      translate: -50% -50%;
      fill: transparent;
      transition: stroke $trans-default;
    }

    & input:checked + span {
      background-color: $color-default-white;
      opacity: 1;

      & svg {
        stroke: $color-cerulean-blue;
      }
    }

    & p {
      font-size: 12px;
    }
  }
}

.feedback__form-field.dropdown {
  margin: 0 0 20px;

  @include vp-1199 {
    margin: 0 0 16px;
  }
}

.feedback__img {
  position: absolute;
  width: calc(100% - 200px);
  height: 100%;
  left: 50%;
  translate: -50% 0;
  border-radius: 16px;
  overflow: hidden;

  @include vp-1199 {
    width: calc(100% - 90px);
  }

  @include vp-767 {
    display: none;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
