.header {
  padding: 20px 0;
  position: absolute;
  left: 50%;
  translate: -50% 0;
  width: 100%;
  z-index: 1;

  @include vp-1199 {
    padding: 30px 0;
  }

  @include vp-767 {
    padding: 20px 0;
  }
}

.header .logo {
  height: fit-content;
}

.header .container {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding-left: 100px;
  padding-right: 100px;

  @include vp-1199 {
    padding-left: 45px;
    padding-right: 45px;
  }

  @include vp-767 {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.header__menu-wrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-end;
  position: absolute;
  top: 0;
  right: 100px;

  &::after {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: $color-black-pearl;
    opacity: 0;
    transition: opacity $trans-default;
    inset: 0;
    cursor: pointer;
  }

  @include vp-1199 {
    right: 45px;
  }

  @include vp-767 {
    right: 15px;
  }
}

.header__menu-wrapper.opened {
  z-index: 1;

  &::after {
    animation: overlay 0.3s;
    opacity: 0.4;
    content: "";
    z-index: -1;
  }
}

.header__menu-button {
  background-color: $color-default-white;
  border: 1px solid $color-cerulean-blue;
  border-radius: 30px;
  padding: 4px 4px 4px 20px;
  display: flex;
  gap: 20px;
  align-items: center;
  cursor: pointer;
  transition: background-color $trans-default, gap $trans-default;
  justify-content: space-between;
  width: fit-content;
  user-select: none;

  @include hover-focus {
    outline: none;
    background-color: $color-cerulean-blue;

    & .header__button-text {
      color: $color-default-white;
    }

    & .header__burger {
      background-color: $color-default-white;
    }

    & .header__menu-burger-line {
      background-color: $color-cerulean-blue;
    }
  }
}

.header__button-text {
  margin: 0;
  color: $color-cerulean-blue;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 0.28px;
  transition: color $trans-default;
  max-width: 44px;
  max-height: 17px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.header__burger {
  background-color: $color-cerulean-blue;
  width: 46px;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background-color $trans-default, transform $trans-default;
  position: relative;
}

.header__menu-wrapper.opened .header__burger {
  background-color: $color-default-white;
}

.header__menu-wrapper.opened .header__button-text {
  color: $color-default-white;
}

.header__menu-wrapper.opened .header__menu-button {
  background-color: $color-cerulean-blue;
  gap: 172px;

  @include vp-767 {
    gap: calc(100vw - 145px);
  }
}

.header__menu-burger-in {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.header__menu {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 500ms ease, padding-top $trans-default, padding-bottom $trans-default, height 500ms ease;
  background-color: $color-cerulean-blue;
  border-radius: 16px;
  padding-left: 25px;
  padding-right: 25px;
  position: absolute;
  top: 60px;
  height: 0;
  max-height: 405px;
}

.header__menu > * {
  overflow: hidden;
}

.header__menu-wrapper.opened .header__menu {
  grid-template-rows: 1fr;
  padding-top: 32px;
  padding-bottom: 35px;
  padding-left: 25px;
  padding-right: 25px;
  height: 70vh;
}

.header__menu-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 23px;
  margin: 0;
  padding: 0;
  width: 237px;
  overflow-x: hidden;
  overflow-y: auto;

  @include vp-767 {
    width: calc(100vw - 80px);
  }
}

.header__submenu-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 286px;
  overflow-x: hidden;
  overflow-y: auto;
  gap: 12px;
  padding: 0 16px;
  overflow: hidden;
}

.header__menu-link {
  text-decoration: none;
  color: $color-default-white;
  font-weight: 400;
  letter-spacing: 0.32px;
  text-transform: uppercase;
  opacity: 0.7;
  display: block;
  width: fit-content;
  transition: opacity $trans-default;

  @include hover-focus {
    opacity: 0.9;
    outline: none;
  }

  &--accordion {
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0 22px 0 0;
    font-weight: 500;
    position: relative;
    transition: margin-bottom $trans-default;
  }
}

.header__submenu-link {
  text-decoration: none;
  color: $color-default-white;
  font-weight: 400;
  letter-spacing: 0.32px;
  display: block;
  width: fit-content;
  opacity: 0.6;
  transition: opacity $trans-default;

  @include hover-focus {
    opacity: 0.9;
    outline: none;
  }
}

.header__menu-item.is-active .header__menu-link--accordion {
  margin-bottom: 15px;
  opacity: 1;
}

.header__menu-burger-line {
  width: 20px;
  height: 1px;
  background-color: $color-default-white;
  border-radius: 50%;
  transition: background-color $trans-default;
}

.header__menu-wrapper.opened .header__menu-burger-line {
  background-color: $color-cerulean-blue;
  display: none;

  &:first-child {
    rotate: -45deg;
    transform-origin: center;
    top: 50%;
    left: 50%;
    translate: -50%;
    position: absolute;
    display: block;
  }

  &:last-child {
    rotate: 45deg;
    transform-origin: center;
    top: 50%;
    left: 50%;
    translate: -50%;
    position: absolute;
    display: block;
  }
}

.header__sub-menu-list {
  margin: 0;
  padding: 0 16px;
  list-style: none;
}

.header__menu-link .header__menu-link-svg {
  position: absolute;
  top: 50%;
  translate: 0 -50%;
  right: 0;
  transform-origin: center;
  transition: rotate $trans-default;
}

.header__menu-item.is-active .header__menu-link-svg {
  rotate: 180deg;
}

@keyframes overlay {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.4;
  }
}
