.logo {
  width: 51px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 1px solid transparent;
  background-color: $color-default-white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border-color $trans-default;

  @include hover-focus {
    border-color: $color-neon-blue;
    outline: none;
  }

  &:active {
    opacity: 0.8;
  }
}
