.news {
  background-color: $color-alabaster;
  padding: 124px 0 60px;
  overflow: hidden;

  @include vp-1199 {
    padding: 99px 0 50px;
  }

  @include vp-767 {
    padding: 69px 0 33px;
  }
}

.news__slider {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0 0 40px;

  @include vp-1199 {
    aspect-ratio: 0.88;
  }

  @include vp-767 {
    aspect-ratio: 0.49;
    margin: 0 0 20px;
  }
}

.news .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.news .section-title {
  color: $color-cerulean-blue;
  margin: 0 0 42px;

  @include vp-1199 {
    margin: 0 0 29px;
  }

  @include vp-767 {
    margin: 0 0 25px;
  }
}

.news__filter-list {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 30px;
  padding: 0;
  margin: 0 0 38px;
  color: $color-cerulean-blue;
  max-width: 1000px;
  flex-wrap: wrap;

  @include vp-1199 {
    margin: 0 0 30px;
    gap: 10px;
  }

  @include vp-767 {
    margin: 0 0 24px 15px;
    flex-wrap: nowrap;
    overflow-y: auto;
    justify-content: flex-start;
    width: calc(100% + 15px);
  }
}

.news__filter-button {
  padding: 14px 26px;
  background-color: transparent;
  color: inherit;
  border: 1px solid transparent;
  border-radius: 30px;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1;
  font-weight: 500;
  letter-spacing: 0.28px;
  cursor: pointer;
  transition: border-color $trans-default, opacity $trans-default;
  opacity: 0.6;

  @include hover-focus {
    opacity: 1;
    outline: none;
  }

  @include vp-1199 {
    padding: 12px 19px;
  }

  @include vp-767 {
    font-size: 12px;
    letter-spacing: 0.24px;
    padding: 10px 14px;
  }
}

.news__filter-button.is-active {
  border-color: $color-cerulean-blue;
  opacity: 1;
}

.news__slider .swiper-wrapper {
  list-style: none;
  padding: 0;
  margin: 0;
  min-height: 400px;
}

.news__slider .swiper-slide {
  padding: 237px 20px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 23.1%;
  position: relative;
  border-radius: 12px 12px 12px 0;
  overflow: hidden;

  @include vp-1199 {
    height: calc(50% - 32px);
  }

  @include vp-767 {
    &:nth-child(2n + 1) {
      height: calc(57% - 10px);
    }

    &:nth-child(2n) {
      height: calc(39% - 10px);
    }
  }

  @media (min-width: 1200px) {
    &:first-child {
      width: 48.7%;

      & .news__slide-heading {
        max-width: 291px;
        padding: 13px 18px 6px 0;
      }

      & .news__desc-wrapper {
        max-width: 389px;
      }
    }
  }
}

.news__img {
  position: absolute;
  inset: 0;
  z-index: -1;
  background-color: #685b4c;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.news__slide-date {
  color: $color-cerulean-blue;
  width: fit-content;
  background-color: $color-alabaster;
  padding: 12px 12px 0 0;
  border-radius: 0 12px 0 0;
  position: relative;
  font-size: 12px;
  letter-spacing: 0.12px;
  max-width: 78px;

  @include vp-767 {
    padding: 12px 12px 5px 0;
  }

  &::before {
    content: "";
    position: absolute;
    width: 27px;
    aspect-ratio: 1;
    background-image: radial-gradient(circle at 100% 100%, transparent 27px, $color-alabaster 28px);
    bottom: -1px;
    right: -24px;
    rotate: -90deg;
  }

  &::after {
    content: "";
    position: absolute;
    width: 27px;
    aspect-ratio: 1;
    background-image: radial-gradient(circle at 100% 100%, transparent 27px, $color-alabaster 28px);
    top: -26px;
    left: 0;
    rotate: -90deg;
  }
}

.news__slide-heading {
  max-width: 81%;
  min-width: 0;
  border-radius: 0 12px 0 0;
  padding: 10px 10px 4px 0;
  margin: 0;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.1;
  background-color: $color-alabaster;
  color: $color-cerulean-blue;
  position: relative;
  word-wrap: break-word;

  @include vp-1199 {
    font-size: 20px;
    line-height: 1.2;
    max-width: 68%;
  }

  @include vp-767 {
    font-size: 16px;
    line-height: 1.1;
    max-width: 200px;
    padding: 11px 13px 1px 0;
  }

  &::before {
    content: "";
    position: absolute;
    width: 27px;
    aspect-ratio: 1;
    background-image: radial-gradient(circle at 100% 100%, transparent 27px, $color-alabaster 28px);
    bottom: -3px;
    right: -24px;
    rotate: -90deg;
  }
}

.news__desc-wrapper {
  display: flex;
  gap: 16px;
  padding: 4px 18px 11px 0;
  max-width: 91%;
  background-color: $color-alabaster;
  border-radius: 0 12px 0 0;
  position: relative;
  align-items: center;

  @include vp-1199 {
    max-width: 79%;
  }

  @include vp-767 {
    max-width: 263px;
    padding: 12px 10px 10px 0;
  }

  &::before {
    content: "";
    position: absolute;
    width: 27px;
    aspect-ratio: 1;
    background-image: radial-gradient(circle at 100% 100%, transparent 27px, $color-alabaster 28px);
    bottom: -1px;
    right: -26px;
    rotate: -90deg;
  }
}

.news__desc {
  max-width: 325px;
  font-size: 14px;
  line-height: 1.3;
  margin: 0;
  align-self: center;

  @include vp-1199 {
    line-height: 1.4;
  }

  @include vp-767 {
    font-size: 12px;
    line-height: 1.15;
  }
}

.news__link {
  display: flex;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: $color-cerulean-blue;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  transition: rotate $trans-default, background-color $trans-default;

  @include hover-focus {
    rotate: 45deg;
    background-color: $color-default-white;
    outline: none;

    & svg {
      stroke: $color-cerulean-blue;
    }
  }

  svg {
    stroke: $color-default-white;
  }
}

.news__slider-button {
  width: 22px;
  height: 22px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  transition: background-color $trans-default;

  svg {
    stroke: $color-cerulean-blue;
  }

  &--prev svg {
    rotate: -135deg;
  }

  &--next svg {
    rotate: 45deg;
  }

  @include hover-focus {
    background-color: $color-default-white;
    outline: none;
  }

  &:active .curriculum__nav-button-svg {
    opacity: 0.7;
  }

  &:disabled {
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.35;

    & .curriculum__nav-button-svg {
      stroke: $color-mischka;
    }
  }
}

.news__slider-navigation {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.news__slider-pagination {
  width: fit-content;
  display: flex;
  gap: 20px;
}

.news__slider-pagination .swiper-pagination-bullet {
  width: auto;
  min-width: 32px;
  min-height: 32px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 1px solid transparent;
  color: $color-cerulean-blue;
  opacity: 0.5;
  transition: background-color $trans-default, opacity $trans-default, color $trans-default, border-color $trans-default;
  overflow: hidden;
  user-select: none;
  border-radius: 20px;

  @include hover-focus {
    opacity: 1;
    border-color: $color-cerulean-blue;
    background-color: transparent;
    outline: none;
  }

  @include vp-767 {
    min-width: 26px;
    min-height: 26px;
    font-size: 14px;
    padding: 6px 8px;
  }

  &-active {
    background-color: $color-cerulean-blue;
    color: $color-default-white;
    opacity: 1;
    pointer-events: none;
  }
}
